@import "../../global.scss";

li {
    font-size: 18px;
    margin-right: 4rem;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    &.active {
      background: $main-color;
      color: #fff;
    }
  }